<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medics Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/homestyle.css">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="logotele1.jpg" alt="Logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.facebook.com" target="_blank">Message Us <i
                                    class="bi bi-facebook"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.twitter.com" target="_blank">Twitter <i
                                    class="bi bi-twitter"></i></a></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="mailto:kelanikdas1@gmail.com" target="_blank">Chat Us <i
                                    class="bi bi-envelope-arrow-down-fill"></i></a></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://wa.me/2348140470626" target="_blank">Mail Us <i
                                    class="bi bi-whatsapp"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="tel:+2348140470626" target="_blank">Call Us <i
                                    class="bi bi-telephone-fill"></i></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <label class="btn btn-light">Logins and Register</label>
                            </a>
                            <ul class="dropdown-menu" style="margin-left: 50px;">
                                {{!-- <li>Patient<a class="dropdown-item" href="/signup">Register</a><a
                                        class="dropdown-item" href="/signin">Login</a></li> --}}
                                <li>Doctor<a class="dropdown-item" href="/registerdoctor">Register</a> <a
                                        class="dropdown-item" href="/login">Login</a></li>
                                {{!-- <li><a class="dropdown-item" href="/admin">Admin Page</a></li> --}}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/viewpatient">View Patients</a></li>
                            </ul>
                        </li>
                        {{!-- <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                        </li> --}}
                    </ul>
                    {{!-- <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form> --}}
                </div>
            </div>
        </nav>
    </div>

    <section class="section-light">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="sectblue">
                    <h1 class="mb-5" style="text-align: center;">Good Health Is The Root Of All Happiness</h1>

                    <div class="sectdet">
                        <div class="row">
                            <div class="col-lg-2 col-md-4 col-sm-4">
                                <h1>123</h1>
                                <h3>Expert Doctors</h3>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4">
                                <h1>1234</h1>
                                <h3>Medical Staff</h3>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4">
                                <h1>15678</h1>
                                <h3>Total Patients</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="sect2bg">
                    <img src="sect2bg.jpg" alt="" />
                    <h2>CADIOLOGY</h2>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container sectlight">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="sect3img1.jpg" alt="" class="sect3img1">
                    <img src="sect3img2.jpg" alt="" class="sect3img2">
                    <h2 class="sect3h2">ANATOMY</h2>

                </div>


                <div class="col-lg-6 col-md-6 col-sm-12 about">
                    <div class="aboutus">
                        <span>
                            <h4>ABOUT US</h4>
                        </span>
                        <h1>Why You Should Trust Us? <br>
                            Get To Know About Us!</h1>
                        <p>You know how sometimes it's hard to get to the doctor's office? Either you're too busy, or
                            it's too far away? That's where Medics comes in. Our website lets you see a doctor
                            from the comfort of your own home. You can browse through our list of available doctors,
                            pick one that fits your needs, and schedule a virtual appointment. Then, at the appointed
                            time,
                            you just hop on a video call with the doctor and discuss your symptoms. They can diagnose
                            you,
                            prescribe medication if needed, and even send over a treatment plan. It's super convenient,
                            secure,
                            and HIPAA-compliant, so you don't have to worry about your personal info. Plus,
                            it's great for people who live far away from good medical care or
                            have mobility issues. We're basically bringing healthcare right to your fingertips!"</p>

                        <ul>
                            <li><mark class="circle">&#9989;</mark> Quality Health Care</li>
                            <li>&#9989; Only Qualify Doctor</li>
                            <li>&#9989; Medical Research Professionals</li>
                        </ul>
                        <button class="btnabout">Read More</button>
                    </div>
                </div>
            </div>


        </div>
        </div>
    </section>
    <!-- Section 4 of the page starts here -->

    <section>
        <div class="services">
            <h3>Services</h3>
            <h1>Health Care Solutions</h1>

            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-3 col-md-3 col-sm-12 cardbox">

                    <div class="cardimg">
                        <img src="cadiologyimg.jpg" alt="">
                        <h4>Cardiology</h4><br><br>
                        <div class="card-body">
                            Cardiology diagnoses and treats heart and blood vessel disorders.
                            Cardiologists manage conditions like heart failure, coronary artery disease, hypertension,
                            and arrhythmias through tests, medications, and interventions, improving heart health and
                            saving lives.

                            <br><br>
                            <button><b style="font-weight: 900;">+</b> Read More</button>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-3 col-sm-12 cardbox">

                    <div class="cardimg">
                        <img src="pulmonaryimg.png" alt="">
                        <h4>Pulmonary</h4><br><br>
                        <div class="card-body">
                            Pulmonology diagnoses and treats lung and respiratory disorders, such as asthma, COPD,
                            pneumonia, and sleep apnea. Pulmonologists use tests like spirometry and
                            bronchoscopy to manage breathing issues,
                            improve lung function, and enhance patient quality of life.
                            <br><br>
                            <button><b style="font-weight: 900;">+</b> Read More</button>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-3 col-sm-12 cardbox">
                    <div class="cardimg">
                        <span><img src="nurologyimg.png" alt="">
                            <h4>Neurology</h4>
                        </span><br><br>
                        <div class="card-body">
                            diagnoses and treats disorders of the brain, spinal cord, and nerves.
                            Neurologists manage conditions like Alzheimer's, Parkinson's, stroke, migraines,
                            and epilepsy through tests, medications, and therapy.
                            We also offer virtual care through teleneurology.

                            <br><br>
                            <button><b style="font-weight: 900;">+</b> Read More</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-3 col-md-3 col-sm-12 cardbox">

                    <div class="cardimg">
                        <img src="orthopedics.jpg" alt="">
                        <h4>Orthopedics</h4><br><br>
                        <div class="card-body">
                            Orthopedics diagnoses and treats disorders of the musculoskeletal system,
                            including bones, joints, and muscles. Orthopedic specialists manage conditions like
                            fractures,
                            arthritis, osteoporosis, and sports injuries, using surgical and
                            non-surgical methods to restore mobility and alleviate pain.
                            <br><br>
                            <button><b style="font-weight: 900;">+</b> Read More</button>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-3 col-sm-12 cardbox">

                    <div class="cardimg">
                        <img src="dentalimg.jpg" alt="">
                        <h4>Dental Surgery</h4><br><br>
                        <div class="card-body">
                            Dental surgery treats various oral health issues through surgical procedures.
                            Specialists perform operations like extractions, implants, root canals, and
                            reconstructive surgery to restore oral function,
                            alleviate pain, and enhance smiles.
                            <br><br>
                            <button><b style="font-weight: 900;">+</b> Read More</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12 cardbox">

                    <div class="cardimg">
                        <img src="laboratoryimg.jpg" alt="">
                        <h4>Laboratory</h4><br><br>
                        <div class="card-body">
                            Laboratory medicine diagnoses and monitors diseases through medical testing.
                            Our Lab professionals analyze blood, tissue, and fluid samples to detect conditions
                            like infections, cancer, and genetic disorders,
                            providing crucial information for patient care and treatment.
                            <br><br>
                            <button><b style="font-weight: 900;">+</b> Read More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="sectforcont">
        <div class="row">
            <div class="sect4cont"></div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="bgblue">
                    <h3>Features</h3>
                    <h1>Why Choose US?</h1>
                    <p>Medics offers a convenient, accessible, and cost-effective way to receive medical care remotely.
                        With Medics, patients can consult board-certified physicians from the comfort of their own
                        homes,
                        reducing travel time and wait periods. Medics also expands access to specialized care,
                        especially
                        for rural or underserved communities. Additionally, Medics platforms often provide secure and
                        private online portals for medical history, prescriptions, and test results, streamlining
                        communication
                        and care coordination. By choosing Medics, patients can enjoy flexibility, efficiency, and
                        enhanced continuity of care,
                        improving overall health outcomes and quality of life.</p>
                    <div class="listing">
                        <ul>
                            <li><img src="Doctor.png" alt=""></li>
                            <li>Experience
                                <h4>Doctors</h4>
                            </li>
                            <li><img src="mark.png" alt=""></li>
                            <li>Quality
                                <h4>Services</h4>
                            </li>
                        </ul>
                        <ul>
                            <li><img src="first_aid.jpg" alt=""></li>
                            <li>Positive
                                <h4>Consultation</h4>
                            </li>
                            <li><img src="support.png" alt=""></li>
                            <li> 24hours <h4>Support</h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-4 col-sm-12">
                <div class="futureimg">
                    <img src="featureimg1.jpg" alt="">
                </div>
            </div>




        </div>
        </div>
    </section>
{{!-- <section id="register">
    <div class="container">

        <div class="card card-cont mt-5 mb-5">
            <img src="/profileimg.jpg" class="card-img-top" alt="profile picture">
            <!-- <i class="bi bi-person-circle"></i> -->
            <div class="card-body">

                <form action="/auth/doctorregister" method="post">

                    <div>
                        {{#if error}}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{error}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {{/if}}

                        {{#if message}}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {{/if}}

                    </div>
                    <h4 style="text-align: center;">Doctor Register Here</h4>
                    <div class="form-floating mb-3 mt-3">
                        <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Surname" required>
                        <label for="firstname">Surname</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control first" name="lastname" id="lastname"
                            placeholder="First Given Name" required>
                        <label for="lastname">First Name</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="email" class="form-control email" name="email" id="email" onkeyup="emailval()"
                            placeholder="Email Address" required>
                        <small class="emailerror"></small>
                        <label for="email">Email Address</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="tel" class="form-control phone" name="phone" id="phone" placeholder="Phone Number" required>
                        <label for="phone">Phone Number</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="address" id="address" placeholder="Home Address" required>
                        <label for="address">Home Address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" name="date_of_birth" id="date_Of_birth"
                            placeholder="Date_Of_Birth" required>
                        <label for="date_Of_birth">Date_Of_Birth</label>
                    </div>
                    <div class="form-floating mb-3">
                        <label for="gender"></label>
                        <select name="gender" id="gender" class="form-select" required>
                            <option value="N/A">Select</option>
                            <option value="Female">Female</option>
                            <option value="Male">Male</option>
                        </select>
                    </div>


                    <div class="form-floating mb-3">
                        <input type="password" class="form-control password" onkeyup="pass()" onkeydown="pass()"
                            name="password" id="password" placeholder="Password">
                        <small class="passworderror"></small>
                        <label for="password">Password</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" class="form-control passwordconfirm" name="passwordconfirm"
                            id="passwordconfirm" placeholder="Confirm Password">
                        <label for="passwordconfirm">Confirm Password</label>
                    </div>

                    <input type="submit" class="btn btn-primary register" value="Register">
                </form>
                <p style="text-align: center;">If you already have an account login <a href="#login">here</a></p>
            </div>
        </div> </div>
</section> --}}




        {{!-- <footer style="background-color: currentColor;"> --}}


        </footer>

        {{!-- <footer class="mt-5" style="background-color: aquamarine;">
            <div class="sectfoot">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <h3>Address</h3>
                        <ul class="line">
                            <li><b>&#61987;</b> 123 street Gaa Odota</li>
                            <li><b>&#128222;</b> +234-814-047-0626</li>
                            <li><b>&#128231;</b> Info@example.com</li>
                            <ul>
                                <li><a href=""><img src="twitter.avif" alt=""></a></li>
                                <li><a href=""><img src="facebookicon.png" alt=""></a></li>
                                <li><a href=""><img src="whatsappicon.png" alt=""></a></li>
                            </ul>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <h3>Services</h3>
                        <ul>
                            <li style="font-weight: 900;"><b><b>&#x3E;</b></b> Cadiology</li>
                            <li style="font-weight: 900;">&#x3E; Surgery</li>
                            <li style="font-weight: 900;">&#x3E; Pulmonary</li>
                            <li style="font-weight: 900;">&#x3E; Neurology</li>
                            <li style="font-weight: 900;">&#x3E; Orthopedics</li>
                            <li style="font-weight: 900;">&#x3E; Laboratory</li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <h3>Quick Links</h3>
                        <ul>
                            <li>&#x3E;<a href=""> About Us</a></li>
                            <li>&#x3E; <a href=""> Contact Us</a></li>
                            <li>&#x3E; <a href=""> Our Services</a></li>
                            <li>&#x3E; <a href=""> Terms & Condition</a></li>
                            <li>&#x3E; <a href=""> Support</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <h3>Newsletter</h3>
                        <h4>Lorem ipsum dolor sit amet consectetur, <br>
                            adipisicing elit. Fuga</h4>
                        <input type="email" placeholder="Email.."> <button type="submit">Sign Up</button>
                    </div>
                </div>
            </div>
        </footer> --}}









        <script scr="home.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js
      "></script>
       
</body>

</html>